# General
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Build
target/
build/
out/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven / Gradle
.mvn/timing.properties
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Env
.env
.env.*
application-local.yml
application-local.properties

/src/main/resources/application.properties
# Logs
logs/